{% extends "core/base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Sab Samasya</h2>
        <div class="grid grid-cols-3 gap-6">
            {% for samasya in samasyas %}
                <div class="bg-white rounded-xl shadow-lg">
                    <a href="{% url 'samasya:detail' samasya.id %}">
                        <img src="{{samasya.image.url}}" class="rounded-t-xl w-full">
                        <div class="p-6">
                            <h2 class="text-2xl mb-4">{{samasya.name}}</h2>
                            <p class="text-gray-500">Time to solve: {{samasya.time}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>   
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>
        <div class="grid grid-cols-3 gap-3">  
            {% for category in categories%}
            <div class="bg-white rounded-xl shadow-lg">
                <a href="#">
                    <div class="p-6">
                        <h2 class="text-2xl mb-4">{{category.name}}</h2>
                        <p class="text-gray-500">{{category.samasyas.count}} Problems</p>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}
